<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1>こんにちは</h1>
  <%= link_to "チームサインアップ", new_team_registration_path %>
  <%= link_to "ユーザーサインアップ", new_user_registration_path %>
  <%= link_to "チームログイン", new_team_session_path %>
  <%= link_to "ユーザーログイン", new_user_session_path %>
</div>
サンプルです