<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1>予定を作成</h1>

  <%= form_with model: @sample, url: samples_path, local: true do |f| %>
    <div class="red">
      <%= render "users/shared/error_messages", resource: @event %>
    </div>
    <div class="title">
      <%= f.label :タイトル %><br>
      <%= f.text_field :title, placeholder: "タイトルを入力してください(最大20文字まで)" %>
    </div>

    <div class="time">
      <%= f.label :開始時刻 %><br>
      <%= f.datetime_select :start_time %>
    </div>

    <div class="time">
      <%= f.label :終了時刻%><br>
      <%= f.datetime_select :end_time, discard_year: true, discard_month: true, discard_day: true %>
    </div>

    <div class="content">
      <%= f.label :詳細 %><br>
      <%= f.text_field :body ,placeholder: "詳細を入力してください"%>
    </div>

    <div class="submit">
      <%= f.submit "作成する",class: "btn btn-black" %>
    </div>
  <% end %>
</div>

<script>
  function input (){
    const start_year = document.getElementById("_start_time_1i");
    const start_month = document.getElementById("_start_time_2i");
    const start_day = document.getElementById("_start_time_3i");
    
    const end_year = document.getElementById("_end_time_1i");
    const end_month = document.getElementById("_end_time_2i");
    const end_day = document.getElementById("_end_time_3i");

    end_year.value = start_year.value
    end_month.value = start_month.value
    end_day.value = start_day.value
  }
  setInterval(input, 1000);
</script>