<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1 class="text-center">予定を作成</h1>
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_with model: @event, url: calendars_path, local: true do |f| %>
      <div class="red">
        <%= render "users/shared/error_messages", resource: @event %>
      </div>

      <div class="form-group">
        <%= f.label :タイトル %><br>
        <%= f.text_field :title, placeholder: "タイトルを入力してください(最大20文字まで)", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :開始時刻 %><br>
        <%= f.datetime_field :start_time %>
      </div>

      <div class="form-group">
        <%= f.label :詳細 %><br>
        <%= f.text_field :body ,placeholder: "詳細を入力してください", class: "form-control"%>
      </div>

      <div class="submit">
        <%= f.submit "作成する",class: "btn btn-black" %>
      </div>
    <% end %>
  </div>
</div>