<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1>イベント作成</h1>

  <%= form_with model: @event, url: calendars_path, local: true do |f| %>
    <div class="title">
      <%= f.label :タイトル %><br>
      <%= f.text_field :title %>
    </div>

    <div class="time">
      <%= f.label :開始時刻 %><br>
      <%= f.datetime_select :start_time %>
    </div>

    <div class="time">
      <%= f.label :終了時刻 %><br>
      <%= f.datetime_select :end_time %>
    </div>

    <div class="content">
      <%= f.label :詳細 %><br>
      <%= f.text_field :body %>
    </div>

    <div class="submit">
      <%= f.submit %>
    </div>
  <% end %>
</div>