<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1 class="text-center">予定を作成</h1>
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_with model: @event, url: calendars_path, local: true do |f| %>
      <div class="red">
        <%= render "users/shared/error_messages", resource: @event %>
      </div>

      <div class="form-group">
        <%= f.label :タイトル %><br>
        <%= f.text_field :title, placeholder: "タイトルを入力してください(最大20文字まで)", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :開始時刻 %><br>
        <%= raw sprintf(
          f.datetime_select(
            :start_time,
            {
              start_year:     Time.zone.now.prev_year.year,
              end_year:       Time.zone.now.next_year.year,
              default:        Time.zone.now,
              use_two_digit_numbers: true,
              date_separator: '%s',
              datetime_separator: '%s',
              time_separator: '%s'
            },
            { class: 'date-select' }
          ),
          '年 ', '月 ', '日 ', ':  ')# 分 は最後につけ加えられる
        %> 
      </div>

      <div class="form-group">
        <%= f.label :終了時刻%><br>
        <%= f.datetime_select :end_time, discard_year: true, discard_month: true, discard_day: true %>
      </div>

      <div class="form-group">
        <%= f.label :詳細 %><br>
        <%= f.text_field :body ,placeholder: "詳細を入力してください", class: "form-control"%>
      </div>

      <div class="submit">
        <%= f.submit "作成する",class: "btn btn-black" %>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in?%>
  <script>
    function input (){

      const start_year = document.getElementById("user_event_start_time_1i");
      const start_month = document.getElementById("user_event_start_time_2i");
      const start_day = document.getElementById("user_event_start_time_3i");
      
      const end_year = document.getElementById("user_event_end_time_1i");
      const end_month = document.getElementById("user_event_end_time_2i");
      const end_day = document.getElementById("user_event_end_time_3i");

      end_year.value = start_year.value
      end_month.value = start_month.value
      end_day.value = start_day.value
    }
    setInterval(input, 300);
  </script>
<% end %>

<% if team_signed_in? %>
  <script>
    function input (){

      const start_year = document.getElementById("team_event_start_time_1i");
      const start_month = document.getElementById("team_event_start_time_2i");
      const start_day = document.getElementById("team_event_start_time_3i");
      
      const end_year = document.getElementById("team_event_end_time_1i");
      const end_month = document.getElementById("team_event_end_time_2i");
      const end_day = document.getElementById("team_event_end_time_3i");

      end_year.value = start_year.value
      end_month.value = start_month.value
      end_day.value = start_day.value
    }
    setInterval(input, 300);
  </script>
<% end %>

