<%= render 'layouts/sidebar' %>
<div class="col-sm-9">
  <h1 class="text-center">一日の予定一覧</h1>
    <% @events.each do |event| %>
      <div class="col-sm-8 col-sm-offset-2">
        <h3>タイトル:  <%= event.title %></h3>
        <% unless event.body == "" %>
          <p>詳細:  <%= event.body%></p>
        <% end %>
        <p>開始時刻:  <%= event.start_time.to_s(:datetime_jp)%></p>
        <p>終了時刻:  <%= event.end_time.to_s(:time_jp)%></p>
        <div class="btn btn-warning">
          <%= link_to "編集する", edit_calendar_path(event) %>
        </div>
        <div class="btn btn-danger">
          <%= link_to "削除する", calendar_path(event), method: :delete %>
        </div>
      </div>
    <% end %>
</div>