<div class="col-xs-3 silver height-max">
  <div class="sidebar_fixed ">
    <%if user_signed_in? %>
      <ul class="padding-top ">
        <%= link_to "#{current_user.nickname}さんの予定一覧", user_path(current_user) %>
      </ul>
    <% elsif team_signed_in? %>
      <ul class="padding-top ">
        <%= link_to "チームの予定一覧", team_path(current_team) %>
      </ul>
    <% else %>
      <ul class="padding-top ">
        <%= link_to "予定一覧(サンプル)", "#" %>
      </ul>
    <% end %>
    <%if user_signed_in? %>
      <ul class="padding-top ">
        <%= link_to "カレンダー", calendar_path(current_user) %>
      </ul>
    <% elsif team_signed_in? %>
      <ul class="padding-top ">
        <%= link_to "カレンダー", calendar_path(current_team) %>
      </ul>
    <% else %>
      <ul class="padding-top ">
        <%= link_to "カレンダー(サンプル)", "#" %>
      </ul>
    <% end %>
  </div>
</div>
