<div class="col-sm-3 silver height bottom">
  <div class="sidebar_fixed">
    <%if user_signed_in? %>
      <ul class="padding-top ">
        <div class="space">
          <%= link_to "カレンダー", calendars_path %>
        </div>
        <div class="space">
          <%= link_to "予定を作成", new_calendar_path %>
        </div>
      </ul>
    <% elsif team_signed_in? %>
      <ul class="padding-top ">
        <div class="space">
          <%= link_to "カレンダー", calendars_path %>
        </div>
        <div class="space">
          <%= link_to "予定を作成", new_calendar_path %>
        </div>
      </ul>
    <% else %>
      <ul class="padding-top ">
        <div class="space">
          <%= link_to "カレンダー(サンプル)", samples_path %>
        </div>
        <div class="space">
          <%= link_to "予定を作成(サンプル)", new_sample_path %>
        </div>
      </ul>
    <% end %>
  </div>
</div>
