<div class="sidenav">
  <div class="login-main-text">
    <h2>ユーザー<br> Sign up Page</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <%= form_with model: @user, url: user_registration_path, local: true do |f|  %>
        <div class="red">
          <%= render "users/shared/error_messages", resource: @user %>
        </div>
        <div class="form-group">
          <%= f.label :ニックネーム %><br>
          <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネームを入力してください", class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :Eメール %><br>
          <%= f.email_field :email,  placeholder: "Eメールを入力してください", autocomplete: "email", class: "form-control" %>
        </div>
        <%if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
          <div class="form-group">
            <%= f.label :パスワード %><br>
            <%= f.password_field :password, placeholder: "6文字以上の英数字を入力してください", class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :パスワード確認 %><br />
            <%= f.password_field :password_confirmation, placeholder: "もう一度入力してください", class: "form-control" %>
          </div>
        <% end%>
          <%= f.submit "サインアップ",class: "btn btn-black" %>
      <% end %>
    </div>
  </div>
</div>